@page "/"
@layout MainLayout
@using SimplePOSHybrid.Data
@using SimplePOSHybrid.Models.PartnerMenu
@using SimplePOSHybrid.Components


@inject IDialogService DialogService


<MudGrid Justify="Justify.Center"  >

    <MudAppBar Style="background-color:#053B71;color:white" Fixed="false" Dense="false" DisableGutters="false" Class="mt-2">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" Class="ma-2" />
        <MudText Class="ma-4" Style="font-weight:800;font-size:large">BLX Super Mart</MudText>
            <MudSpacer />
        <MudIconButton Icon="@Icons.Material.Filled.Logout" Style="color:white" Href="/" />
        </MudAppBar>
   
    <MudGrid >
        <MudItem xs="7" >
            <MudTabs Elevation="2" Rounded="true" PanelClass="pa-6" PrevIcon="@Icons.Material.Filled.SkipPrevious" NextIcon="@Icons.Material.Filled.SkipNext"
                      AlwaysShowScrollButtons="true" Color="@Color.Primary">
            
                
                @foreach (string category in tabscat)
                {
                    <MudTabPanel Text=@category ToolTip="Choose a Category" OnClick="() => LoadItems(category)"  >
                        <MudGrid>
                            
                                @foreach (var item in tabscatitm)
                                {
                                    <MudItem xs="3" >

                                        <MudImage Src=@item.ItemImageUrl Height="120" Width="120" @onclick="ItemClick" Class="rounded-lg"Style="border:thin;border-color:darkgray;border-radius:10px"/>
                                    <div style="background-color:lightgray;color:black;border-radius:10px;">
                                            <MudText Typo="Typo.h6" Style="max-width:fit-content">@item.ItemName</MudText>
                                            <MudText Typo="Typo.body2">@item.ItemShortName</MudText>
                                        </div>
                                       
                                       @* <MudCard Class="mb-8" Style="border-radius:10px;box-shadow:inset" @onclick="ItemClick">
                                            
                                            <MudCardContent >
                                                <MudCardMedia Image=@item.ItemImageUrl Height="180" />
                                                <div style="background-color:darkgray;position:center;color:black;width:fit-content;height:contain;display:flex;top:initial;flex-direction:column;justify-content:center;align-items:center">
                                                    <MudText Typo="Typo.h6">@item.ItemName</MudText>
                                                <MudText Typo="Typo.body2">@item.ItemShortName</MudText>
                                                </div>
                                            </MudCardContent>     
                                        </MudCard>*@
                                    </MudItem>
                                }                            
                        </MudGrid>   
                    </MudTabPanel>    
                }
            </MudTabs>
        </MudItem>
        <MudItem xs="5">
            <MudGrid >
                <MudItem xs="2"></MudItem>
                <MudItem xs="6" Class="mt-2">
                    <MudSelect Dense="true" Margin="Margin.Dense" T="string" Label="Order Type" Variant="Variant.Outlined" Class="mt-2">
                        <MudSelectItem Value="@("Credit")" />
                        <MudSelectItem Value="@("Debit")" />
                    </MudSelect>
                </MudItem>
                <MudItem xs="1" Class="mt-2">
                    <MudIconButton Icon="@Icons.Material.Filled.PersonAddAlt1" OnClick="OpenRegUser" aria-label="add user"></MudIconButton>
                </MudItem>
                <MudItem xs="2" Class="mt-2">
                    <MudIconButton Icon="@Icons.Material.Filled.KeyboardArrowDown" OnClick="OpenExtUsers" aria-label="users"></MudIconButton>
                </MudItem>
                <MudItem xs="12">
                    <MudDataGrid Items="@Elements">
                        <Columns>
                            @*<Column T="Element" Field="Number" Title="Nr" />
                            <Column T="Element" Field="Sign" />
                            <Column T="Element" Field="Name" />
                            <Column T="Element" Field="Position" />
                            <Column T="Element" Field="Molar" Title="Molar mass" />*@
                        </Columns>
                    </MudDataGrid>
                    @*<MudGrid>
                        <MudItem xs="3" Style="background-color:darkgrey;color:black" Class="d-flex align-center justify-center">
                            <MudText>Item</MudText>
                        </MudItem>
                        <MudItem xs="3" Style="background-color:darkgrey;color:black" Class="d-flex align-center justify-center">
                            <MudText>Quantity</MudText>
                        </MudItem>
                        <MudItem xs="3" Style="background-color:darkgrey;color:black" Class="d-flex align-center justify-center">
                            <MudText>Unit Price</MudText>
                        </MudItem>
                        <MudItem xs="3" Style="background-color:darkgrey;color:black" Class="d-flex align-center justify-center">
                            <MudText>Total Price</MudText>
                        </MudItem>
                        @foreach(var det in orderdetails)
                        {
                            
                        }
                    </MudGrid>*@
                </MudItem>
            </MudGrid>
            
        </MudItem>
    </MudGrid>
   
    
</MudGrid>


@code{

    public List<string> tabscat = new List<string> { };
    public List<Menuitemlist> tabscatitm = new List<Menuitemlist> { };
    public List<string> orderdetails = new List<string> { };
    private IEnumerable<Element> Elements = new List<Element>();
    public string cate = "chicken 23";
    public ItemModel test;
    public async void Load()
    {
        DashboardView dashboard = new DashboardView();
        test = await dashboard.LoadResponse();

        tabscat = DashboardView.DisplayCat(test);
        tabscatitm = DashboardView.DisplayItem(test,cate);
        Console.WriteLine(tabscatitm);
        StateHasChanged();

    }

    protected override void OnInitialized()
    {
        Load();

    }

    public void LoadItems(string cate)
    {

        tabscatitm = DashboardView.DisplayItem(test,cate);
        StateHasChanged();

    }

    private void OpenExtUsers()
    {
        DialogService.Show<Dialog>("Choose Customer");
    }

    private void OpenRegUser()
    {
        DialogOptions closeOnEscapeKey = new DialogOptions() { CloseOnEscapeKey = true };

        DialogService.Show<RegUser>("Add Customer", closeOnEscapeKey);
    }

    public void ItemClick()
    {
        
    }


}