@page "/"
@layout MainLayout
@using SimplePOSHybrid.Data
@using SimplePOSHybrid.Models.PartnerMenu
@using SimplePOSHybrid.Components
@inject IDialogService DialogService
@inject NavigationManager Navigation
@using System.Text.Json;

<MudLayout>
    <MudAppBar Style="background-color:#053B71;color:white" Fixed="false" Dense="false" DisableGutters="false" Class="pa-0" >
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start"  />
        <MudText Class="ml-4" Style="font-weight:800;font-size:large">BLX Super Mart</MudText>
        <MudSpacer />
        <MudIconButton Icon="@Icons.Material.Filled.Logout" Style="color:white" Href="/" />
    </MudAppBar>
        <MudMainContent Class="pa-0">
            <MudContainer >
                    <MudGrid Class="pt-3">
                        <MudItem xs="5"    >
                            <MudGrid>
                                <MudItem xs="2" Class="pa-0"></MudItem>
                                <MudItem xs="6" Class="mt-2 pt-0">
                                    <MudSelect Dense="true" Margin="Margin.Dense" T="string" Label="Order Type" Variant="Variant.Outlined">
                                        <MudSelectItem Value="@("Credit")" />
                                        <MudSelectItem Value="@("Debit")" />
                                    </MudSelect>
                                </MudItem>
                                <MudItem xs="1" Class="mt-2 pt-0">
                                    <MudIconButton Icon="@Icons.Material.Filled.PersonAddAlt1" OnClick="OpenRegUser" aria-label="add user"></MudIconButton>
                                </MudItem>
                                <MudItem xs="3" Class="mt-2 pt-0">
                                    <MudIconButton Icon="@Icons.Material.Filled.KeyboardArrowDown" OnClick="OpenExtUsers" aria-label="users"></MudIconButton>
                                </MudItem>
                                <MudItem xs="12" Class="pt-0">
                                    <div id="unique_id_scroll_section" class="ma-0" style="height:200px;overflow: auto">
                                        <MudDataGrid Items="@Elements" Hover="true" Striped="true" Dense="true">
                                            <Columns>
                                                <Column T="Menuitemlist" StickyLeft="true">
                                                    <CellTemplate>
                                                <MudIconButton OnClick="@(() => RemoveItem(@context.Item))" Color="@Color.Default" Icon="@Icons.Material.Filled.Delete" />
                                                    </CellTemplate>
                                                </Column>
                                                <Column T="Menuitemlist" Field="ItemName" Title="Name" />
                                                <Column T="Menuitemlist" Title="Qty" Style="width:10px" />
                                                <Column T="Menuitemlist" Field="OptionalSalesPrice" Title="Price" Style="width:10px" />
                                                <Column T="Menuitemlist" Title="Total" Style="width:10px" />
                                            </Columns>
                                         </MudDataGrid>
                                     </div> 
                                </MudItem>
                                <MudItem xs="12" Class="pr-0 pl-0 pb-0">
                                    <MudPaper Class="pa-8 ma-0" Outlined="true" Elevation="3" Style="background-color:#e6e6e6;border:none"></MudPaper>
                                </MudItem>
                                <MudItem xs="12" >
                                    <MudGrid Class="pr-2 pl-2 pt-0 pb-0">
                                        <MudItem xs="3" Class="d-flex align-center justify-center py-4">
                                            <MudIconButton @onclick="@(() => ClickPrevSale())" Icon="@Icons.Material.Filled.Reply" DisableElevation="true" Variant="Variant.Filled" Style="background-color:#0866c4;color:white" Size="Size.Large" />
                                        </MudItem>
                                        <MudItem xs="3" Class="d-flex align-center justify-center py-4">
                                            <MudIconButton @onclick="@(() => ClickTotdiscount())" Icon="@Icons.Material.Filled.Percent" DisableElevation="true" Variant="Variant.Filled" Style="background-color:#0866c4;color:white" Size="Size.Large" />
                                        </MudItem>
                                        <MudItem xs="3" Class="d-flex align-center justify-center py-4">
                                            <MudIconButton @onclick="@(() => ClickRecall())" Icon="@Icons.Material.Filled.Autorenew" DisableElevation="true" Variant="Variant.Filled" Style="background-color:#0866c4;color:white" Size="Size.Large" />
                                        </MudItem>
                                        <MudItem xs="3" Class="d-flex align-center justify-center py-4">
                                            <MudIconButton @onclick="@(() => ClickReceipt())"  Icon="@Icons.Material.Filled.ReceiptLong" DisableElevation="true" Variant="Variant.Filled" Style="background-color:#0866c4;color:white" Size="Size.Large" />
                                        </MudItem>
                                    </MudGrid>
                                </MudItem>
                                <MudItem xs="12" Class="pa-0">
                                    <MudGrid>
                                        <MudItem xs="6" Class="d-flex align-center justify-center">
                                            <MudButton Variant="Variant.Filled" DisableElevation="true" Class="py-4" Style="font-weight:bold; background-color:#053B71;color:white">Hold Sale</MudButton>
                                        </MudItem>
                                        <MudItem xs="6" Class="d-flex align-center justify-center">
                                            <MudButton @onclick="@(() => PrcdBtnClick())" Variant="Variant.Filled" DisableElevation="true" Class="py-4" Style="font-weight:bold; background-color:#053B71;color:white">Proceed</MudButton>
                                        </MudItem>
                                    </MudGrid>
                                </MudItem>
                             </MudGrid>
                        </MudItem>
                        <MudItem xs="7" Class="pa-0" >
                            <MudTabs Elevation="2" Rounded="true" PanelClass="pa-6" PrevIcon="@Icons.Material.Filled.SkipPrevious" NextIcon="@Icons.Material.Filled.SkipNext"
                                AlwaysShowScrollButtons="true" Color="@Color.Primary" Style="border:thin;border-color:darkgray;border-radius:10px">
                                     @foreach (string category in tabscat)
                                     {
                           
                                        <MudTabPanel Text=@category ToolTip="Choose a Category" OnClick="() => LoadItems(category)" >
                                            <div id="unique_id_scroll_section" class="ma-0" style="height:400px;width:550px;overflow: auto">
                                                <MudGrid>
                                                
                                                    @foreach (var item in tabscatitm)
                                                    {
                                                        <MudItem xs="3" >
                                                            @if(@item.ItemImageUrl != null)
                                                            {
                                                               <CustomImage Src=@item.ItemImageUrl Name=@item.ItemName ShortName=@item.ItemShortName OnClick="@(() => this.Click(item))" />
                                                            }else
                                                            {
                                                               <CustomImage Src="./Img/no1.jpg" Name=@item.ItemName ShortName=@item.ItemShortName OnClick="@(() => this.Click(item))" />
                                                               
                                                            }
                                                                                              
                                                        </MudItem>
                                                    }   
                                                
                                                </MudGrid>
                                           </div>
                                        </MudTabPanel>
                            
                                     }
                            </MudTabs>
                        </MudItem>
       
                    </MudGrid>
                
            </MudContainer>
        </MudMainContent>
    
     
</MudLayout>


@code{

    public List<string> tabscat = new List<string> { };

    public List<Menuitemlist> tabscatitm = new List<Menuitemlist> { };

    private List<Menuitemlist> orderitems = new List<Menuitemlist> { };

    private IEnumerable<Menuitemlist> Elements = new List<Menuitemlist>();

    public string cate = "chicken 23";

    public ItemModel test;


    public async void Load()
    {
        DashboardView dashboard = new DashboardView();
        test = await dashboard.LoadResponse();

        tabscat = DashboardView.DisplayCat(test);
        tabscatitm = DashboardView.DisplayItem(test,cate);
        Console.WriteLine(tabscatitm);
        StateHasChanged();

    }

    protected override void OnInitialized()
    {
        Load();

    }

    public void LoadItems(string cate)
    {

        tabscatitm = DashboardView.DisplayItem(test,cate);
        StateHasChanged();

    }

    private void ClickReceipt()
    {
        var parameters = new DialogParameters();
        parameters.Add("ButtonText", "Close");
        DialogService.Show<Receipt>("Choose Receipt", parameters);
    }

    private void ClickTotdiscount()
    {
        var parameters = new DialogParameters();
        parameters.Add("ContentText", "Please select a discount type.");
        parameters.Add("ButtonText1", "Set Discount");
        parameters.Add("ButtonText2", "Cancel Discount");
        DialogService.Show<Totdiscount>("Choose Total discount", parameters);
    }

    private void ClickRecall()
    {
        var parameters = new DialogParameters();
        parameters.Add("ButtonText3", "OK");
        parameters.Add("ButtonText2", "Cancel");
        parameters.Add("ButtonText1", "Assign Driver");
        DialogService.Show<Recall>("Choose Recall", parameters);
    }

    private void ClickPrevSale()
    {
        var parameters = new DialogParameters();
        parameters.Add("ContentText", "Previous sales should be fetched from the backend and displayed here.");
        parameters.Add("ButtonText", "Close");

        DialogService.Show<PrevSale>("Choose PrevSale", parameters);
    }

    private void OpenExtUsers()
    {
        DialogService.Show<Dialog>("Choose Customer");
       
    }

    private void OpenRegUser()
    {
        DialogOptions closeOnEscapeKey = new DialogOptions() { CloseOnEscapeKey = true };

        DialogService.Show<RegUser>("Add Customer", closeOnEscapeKey);
    }

    private void Click(Menuitemlist item)
    {
        OrderStateService ord = new OrderStateService();

        orderitems.Add(item);
        ord.ElementMthd(orderitems);
        Elements = ord.GetElements();
        Console.WriteLine(Elements);

        StateHasChanged();
    }

    private void RemoveItem(Menuitemlist x)
    {
        //orderitems.RemoveAt(0);
        orderitems = orderitems.Where(u => u.ItemName != x.ItemName).ToList();
        Elements = orderitems;
        StateHasChanged();
    }

    public void PrcdBtnClick()
    {
        Navigation.NavigateTo("order");
    }

}