@page "/order"
@layout MainLayout
@using SimplePOSHybrid.Data
@using SimplePOSHybrid.Models.PartnerMenu
@using SimplePOSHybrid.Components
@inject IDialogService DialogService

<MudLayout>
    <MudAppBar Style="background-color:#053B71;color:white" Fixed="false" Dense="false" DisableGutters="false" Class="pa-0">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" />
        <MudText Class="ml-4" Style="font-weight:800;font-size:large">BLX Super Mart</MudText>
        <MudSpacer />
        <MudIconButton Icon="@Icons.Material.Filled.Logout" Style="color:white" Href="/" />
    </MudAppBar>
    <MudMainContent Class="pa-0">
        <MudContainer>
            <MudGrid Class="pt-3">
                <MudItem xs="5">

                    <MudGrid>
                        <MudItem xs="2" Class="pa-0"></MudItem>
                        <MudItem xs="6" Class="mt-2 pt-0">
                            <MudSelect Dense="true" Margin="Margin.Dense" T="string" Label="Order Type" Variant="Variant.Filled" >
                                <MudSelectItem Value="@("Credit")" />
                                <MudSelectItem Value="@("Debit")" />
                            </MudSelect>
                        </MudItem>
                        <MudItem xs="1" Class="mt-2 pt-0">
                            <MudIconButton Icon="@Icons.Material.Filled.PersonAddAlt1" OnClick="OpenRegUser" aria-label="add user"></MudIconButton>
                        </MudItem>
                        <MudItem xs="3" Class="mt-2 pt-0">
                            <MudIconButton Icon="@Icons.Material.Filled.KeyboardArrowDown" OnClick="OpenExtUsers" aria-label="users"></MudIconButton>
                        </MudItem>
                        <MudItem xs="12" Class="pt-0">
                            <div id="unique_id_scroll_section" class="ma-0" style="height:200px;overflow: auto">
                                <MudDataGrid Items="@Elements" Hover="true" Striped="true" Dense="true">
                                    <Columns>
                                        <Column T="Menuitemlist" StickyLeft="true">
                                            <CellTemplate>
                                                <MudIconButton OnClick="@RemoveItem" Color="@Color.Default" Icon="@Icons.Material.Filled.Delete" />
                                            </CellTemplate>
                                        </Column>
                                        <Column T="Menuitemlist" Field="ItemName" Title="Name" />
                                        <Column T="Menuitemlist" Title="Qty" Style="width:10px" />
                                        <Column T="Menuitemlist" Field="OptionalSalesPrice" Title="Price" Style="width:10px" />
                                        <Column T="Menuitemlist" Title="Total" Style="width:10px" />
                                    </Columns>
                                </MudDataGrid>
                            </div>
                        </MudItem>
                        <MudItem xs="12" Class="pr-0 pl-0 pb-0">
                            <MudPaper Class="pa-8 ma-0" Outlined="true" Elevation="3" Style="background-color:#e6e6e6;border:none"></MudPaper>
                        </MudItem>
                        <MudItem xs="12">
                            <MudGrid Class="pr-2 pl-2 pt-0 pb-0">
                                <MudItem xs="3" Class="d-flex align-center justify-center py-4">
                                    <MudIconButton @onclick="@(() => ClickPrevSale())" Icon="@Icons.Material.Filled.Reply" DisableElevation="true" Variant="Variant.Filled" Style="background-color:#0866c4;color:white" Size="Size.Large" />
                                </MudItem>
                                <MudItem xs="3" Class="d-flex align-center justify-center py-4">
                                    <MudIconButton @onclick="@(() => ClickTotdiscount())" Icon="@Icons.Material.Filled.Percent" DisableElevation="true" Variant="Variant.Filled" Style="background-color:#0866c4;color:white" Size="Size.Large" />
                                </MudItem>
                                <MudItem xs="3" Class="d-flex align-center justify-center py-4">
                                    <MudIconButton @onclick="@(() => ClickRecall())" Icon="@Icons.Material.Filled.Autorenew" DisableElevation="true" Variant="Variant.Filled" Style="background-color:#0866c4;color:white" Size="Size.Large" />
                                </MudItem>
                                <MudItem xs="3" Class="d-flex align-center justify-center py-4">
                                    <MudIconButton @onclick="@(() => ClickReceipt())" Icon="@Icons.Material.Filled.ReceiptLong" DisableElevation="true" Variant="Variant.Filled" Style="background-color:#0866c4;color:white" Size="Size.Large" />
                                </MudItem>
                            </MudGrid>
                        </MudItem>
                        <MudItem xs="12" Class="pa-0">
                            <MudGrid>
                                <MudItem xs="12" Class="d-flex align-center justify-center">
                                    <MudButton Href="/" Variant="Variant.Filled" DisableElevation="true" Class="py-4" Style="font-weight:bold; background-color:#053B71;color:white">Hold Sale</MudButton>
                                </MudItem>
                               
                            </MudGrid>
                        </MudItem>
                    </MudGrid>
                </MudItem>
                <MudItem xs="7">
                    <MudGrid>
                        <MudItem xs="12" Class="d-flex align-center justify-center py-4">
                            <MudGrid>
                                <MudItem xs="4"></MudItem>
                                <MudItem xs="4">
                                    <MudSelect @bind-Value="stringValue" Dense="true" Margin="Margin.Dense" T="string" Label="Payment Type" Variant="Variant.Filled">
                                        <MudSelectItem Value="@("Cash")" />
                                        <MudSelectItem Value="@("Credit")" />
                                    </MudSelect>
                                </MudItem>
                                <MudItem xs="4"></MudItem>
                            </MudGrid> 
                        </MudItem>
                        <MudItem xs="12" >
                            <MudText Typo="Typo.h4" Class="d-flex align-center justify-center py-4">50.00</MudText>
                            <MudText Typo="Typo.h6" Class="d-flex align-center justify-center py-4">Total Amount Due</MudText>
                        </MudItem>
                        <MudItem xs="12">
                            @if (stringValue == "Cash")
                            {
                                <MudGrid >
                                    <MudItem xs="5" Class="d-flex align-center justify-center py-4">
                                        <MudText Typo="Typo.h5"> Cash Received</MudText>
                                    </MudItem>
                                    <MudItem xs="4" Class="d-flex align-center justify-center py-4">
                                        <MudTextField @bind-Value="Amount" Label="Amount" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.AttachMoney" AdornmentColor="Color.Warning" />
                                    </MudItem>
                                    <MudItem xs="3" Class="d-flex align-center justify-center py-4">
                                        <MudButton @onclick="Cash"  Variant="Variant.Filled" DisableElevation="true" Class="py-4" Style="font-weight:bold; background-color:#053B71;color:white">Pay</MudButton>
                                    </MudItem>
                                    <MudItem xs="12">
                                        <MudGrid>
                                            <MudItem xs="2"></MudItem>
                                            <MudItem xs="4" Class="d-flex align-center justify-center py-4">
                                                <MudChip Label="true">Default</MudChip>
                                            </MudItem>
                                            <MudItem xs="4" Class="d-flex align-center justify-center py-4">
                                                <MudChip Label="true">Default</MudChip>
                                            </MudItem>
                                            <MudItem xs="2"></MudItem>
                                        </MudGrid>
                                    </MudItem>
                                </MudGrid>
                            }
                            else 
                            {
                                <MudGrid>
                                    <MudItem xs="8" Class="d-flex align-center justify-center py-4">
                                        <MudText>
                                            <MudSelect @bind-Value="customerSelection" Dense="true" Margin="Margin.Dense" T="string" Label="Select Customer" Variant="Variant.Filled">
                                                <MudSelectItem Value="@("Cash")" />
                                                <MudSelectItem Value="@("Credit")" />
                                            </MudSelect>
                                        </MudText>
                                    </MudItem>
                                    <MudItem xs="4" Class="d-flex align-center justify-center py-4">
                                        <MudButton @onclick="Credit" Variant="Variant.Filled" DisableElevation="true" Class="py-4" Style="font-weight:bold; background-color:#053B71;color:white">Pay Credit</MudButton>
                                    </MudItem>
                                </MudGrid>
                            }

                        </MudItem>

                    </MudGrid>
                </MudItem>


            </MudGrid>

        </MudContainer>
    </MudMainContent>


</MudLayout>

@code {

    public string Amount { get; set; }

    public string balance { get; set; } 

    private string stringValue { get; set; }

    private string customerSelection { get; set; }

    private IEnumerable<Menuitemlist> test = new List<Menuitemlist>();

    private IEnumerable<Menuitemlist> Elements = new List<Menuitemlist>();


    private void OpenExtUsers()
    {
        DialogService.Show<Dialog>("Choose Customer");
    }

    private void OpenRegUser()
    {
        DialogOptions closeOnEscapeKey = new DialogOptions() { CloseOnEscapeKey = true };

        DialogService.Show<RegUser>("Add Customer", closeOnEscapeKey);
    }

    void RemoveItem()
    {
        //orderitems.RemoveAt(0);
        StateHasChanged();
    }

    protected override void OnInitialized()
    {

        OrderStateService ord = new OrderStateService();
        Elements = ord.GetElements();
        Console.WriteLine(Elements);
        StateHasChanged();

    }

    DialogOptions maxWidth = new DialogOptions() { MaxWidth = MaxWidth.Small };

    private void Cash()
    {
        balance = "10.00";
        var parameters = new DialogParameters();
        parameters.Add("ContentText", "Balance" +balance);
        parameters.Add("ButtonText", "Start new sale");
        parameters.Add("TitleText", "Sales Completed");
        parameters.Add("Color", Color.Info);

        DialogService.Show<SalesComp>("Sales Completed", parameters);
    }
    
    private void Credit()
    {
        var parameters = new DialogParameters();
        parameters.Add("ContentText", "Credit purchase have been approved to Dana's account.");
        parameters.Add("ButtonText", "Start new sale");
        parameters.Add("TitleText", "Sales Completed");
        parameters.Add("Color", Color.Info);

        DialogService.Show<SalesComp>("Sales Completed", parameters);
    }

    private void ClickReceipt()
    {
        var parameters = new DialogParameters();
        parameters.Add("ButtonText", "Close");
        DialogService.Show<Receipt>("Choose Receipt", parameters);
    }

    private void ClickTotdiscount()
    {
        var parameters = new DialogParameters();
        parameters.Add("ContentText", "Please select a discount type.");
        parameters.Add("ButtonText1", "Set Discount");
        parameters.Add("ButtonText2", "Cancel Discount");
        DialogService.Show<Totdiscount>("Choose Total discount", parameters);
    }

    private void ClickRecall()
    {
        var parameters = new DialogParameters();
        parameters.Add("ButtonText3", "OK");
        parameters.Add("ButtonText2", "Cancel");
        parameters.Add("ButtonText1", "Assign Driver");
        DialogService.Show<Recall>("Choose Recall", parameters);
    }

    private void ClickPrevSale()
    {
        var parameters = new DialogParameters();
        parameters.Add("ContentText", "Previous sales should be fetched from the backend and displayed here.");
        parameters.Add("ButtonText", "Close");

        DialogService.Show<PrevSale>("Choose PrevSale", parameters);
    }
}